﻿@model MeuCurriculo.Models.Query

<p class="text-center">
    @if (Model.HasPrevious)
    {
        <a asp-action="Index" asp-route-page="@(Model.Page - 1)">Anterior</a>
    }
    @if (Model.HasNext)
    {
        <a asp-action="Index" asp-route-page="@(Model.Page + 1)">Próxima</a>
    }
</p>