﻿@model MeuCurriculo.Data.Domain.F5Curriculos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>F5Curriculos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <input asp-for="IdCliente" class="form-control" />
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPlano" class="control-label"></label>
                <input asp-for="IdPlano" class="form-control" />
                <span asp-validation-for="IdPlano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLayout" class="control-label"></label>
                <input asp-for="IdLayout" class="form-control" />
                <span asp-validation-for="IdLayout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone2" class="control-label"></label>
                <input asp-for="Telefone2" class="form-control" />
                <span asp-validation-for="Telefone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoDestaque" class="control-label"></label>
                <input asp-for="FotoDestaque" class="form-control" />
                <span asp-validation-for="FotoDestaque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nascimento" class="control-label"></label>
                <input asp-for="Nascimento" class="form-control" />
                <span asp-validation-for="Nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCivil" class="control-label"></label>
                <input asp-for="EstadoCivil" class="form-control" />
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site" class="control-label"></label>
                <input asp-for="Site" class="form-control" />
                <span asp-validation-for="Site" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MostrarSite" class="control-label"></label>
                <input asp-for="MostrarSite" class="form-control" />
                <span asp-validation-for="MostrarSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perfil" class="control-label"></label>
                <input asp-for="Perfil" class="form-control" />
                <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voluntariado" class="control-label"></label>
                <input asp-for="Voluntariado" class="form-control" />
                <span asp-validation-for="Voluntariado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intercambios" class="control-label"></label>
                <input asp-for="Intercambios" class="form-control" />
                <span asp-validation-for="Intercambios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interesses" class="control-label"></label>
                <input asp-for="Interesses" class="form-control" />
                <span asp-validation-for="Interesses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referencias" class="control-label"></label>
                <input asp-for="Referencias" class="form-control" />
                <span asp-validation-for="Referencias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PretensaoSalarial" class="control-label"></label>
                <input asp-for="PretensaoSalarial" class="form-control" />
                <span asp-validation-for="PretensaoSalarial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutrasInformacoes" class="control-label"></label>
                <input asp-for="OutrasInformacoes" class="form-control" />
                <span asp-validation-for="OutrasInformacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataExpiracao" class="control-label"></label>
                <input asp-for="DataExpiracao" class="form-control" />
                <span asp-validation-for="DataExpiracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cupom" class="control-label"></label>
                <input asp-for="Cupom" class="form-control" />
                <span asp-validation-for="Cupom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CupomValor" class="control-label"></label>
                <input asp-for="CupomValor" class="form-control" />
                <span asp-validation-for="CupomValor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CupomTipo" class="control-label"></label>
                <input asp-for="CupomTipo" class="form-control" />
                <span asp-validation-for="CupomTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Situacao" class="control-label"></label>
                <input asp-for="Situacao" class="form-control" />
                <span asp-validation-for="Situacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expirou" class="control-label"></label>
                <input asp-for="Expirou" class="form-control" />
                <span asp-validation-for="Expirou" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GatewayPagamento" class="control-label"></label>
                <input asp-for="GatewayPagamento" class="form-control" />
                <span asp-validation-for="GatewayPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormaPagamento" class="control-label"></label>
                <input asp-for="FormaPagamento" class="form-control" />
                <span asp-validation-for="FormaPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservacoesInternas" class="control-label"></label>
                <input asp-for="ObservacoesInternas" class="form-control" />
                <span asp-validation-for="ObservacoesInternas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

