﻿@model MeuCurriculo.Data.Domain.F5Curriculos

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>F5Curriculos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPlano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPlano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLayout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLayout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoDestaque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoDestaque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MostrarSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MostrarSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perfil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voluntariado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voluntariado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intercambios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intercambios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interesses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interesses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referencias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referencias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PretensaoSalarial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PretensaoSalarial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutrasInformacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutrasInformacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataExpiracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataExpiracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cupom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cupom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CupomValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CupomValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CupomTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CupomTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expirou)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expirou)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GatewayPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GatewayPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormaPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacoesInternas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacoesInternas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atualizacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCurriculo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
