﻿@model IEnumerable<MeuCurriculo.Data.Domain.F5Curriculos>

@{
    ViewData["Title"] = "Index";

    var query = ViewData["query"] as MeuCurriculo.Models.Query;
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<partial name="_Pagination" model="query" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPlano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLayout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoDestaque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoCivil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MostrarSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voluntariado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intercambios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interesses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referencias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PretensaoSalarial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutrasInformacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataExpiracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cupom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CupomValor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CupomTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expirou)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GatewayPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormaPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacoesInternas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atualizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPlano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLayout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoDestaque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCivil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MostrarSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voluntariado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intercambios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interesses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referencias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PretensaoSalarial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutrasInformacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataExpiracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cupom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CupomValor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CupomTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expirou)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GatewayPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacoesInternas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atualizacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCurriculo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCurriculo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCurriculo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_Pagination" model="query" />
