﻿@model IEnumerable<MeuCurriculo.Data.Domain.F5Cupons>

@{
    ViewData["Title"] = "Index";

    var query = ViewData["query"] as MeuCurriculo.Models.Query;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<partial name="_Pagination" model="query" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atualizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atualizacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCupom">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCupom">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCupom">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_Pagination" model="query" />