﻿@model IEnumerable<Tuple<string, string>>

@{
    ViewData["Title"] = "Index";
    int index = 0;
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @(index++)
            </td>
            <td>@item.Item1</td>
            <td>@item.Item2</td>
        </tr>
        }
    </tbody>
</table>